<div class="animated fadeIn">
        <div class="row">
                <div class="col-md-6">
                  <div class="card card-accent-info">
                    <div class="card-header">
                      <strong>Shto Terminin</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="dataTerminit">Data e Terminit:</label>
                            <div class="col-md-9">
                                <div class="input-group"
                                     moment-picker="shtoTermininCtrl.dataTerminit"
                                     format="YYYY-MM-DD"
                                     locale="sq">
                            <span class="input-group-addon">
                                <i class="octicon octicon-calendar"></i>
                            </span>

                                    <input id="dataTerminit" class="form-control"
                                           placeholder="Selekto Daten e Terminit"
                                           ng-model="shtoTermininCtrl.dataTerminit"
                                           ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="kohaFillimit">Ora e Fillimit:</label>
                            <div class="col-md-9">
                                <div class="input-group"
                                     moment-picker="shtoTermininCtrl.kohaFillimit"
                                     format="HH:mm"
                                     locale="sq"
                                     show-header="false">
                                <span class="input-group-addon">
                                    <i class="octicon octicon-clock"></i>
                                </span>
                                    <input id="kohaFillimit" class="form-control"
                                           placeholder="Selekto Koh&euml;n e Fillimit"
                                           ng-model="shtoTermininCtrl.kohaFillimit"
                                           ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="shenime">Shenime: </label>
                            <div class="col-md-9">
                                  <textarea rows="5" id="shenime" name="shenime" class="form-control"
                                            placeholder="Sh&euml;nime rreth Terminit"
                                            ng-model="termini.shenime" required></textarea>
                            </div>
                        </div>
                        {{shtoTermininCtrl.dataTerminit}}
                        {{shtoTermininCtrl.kohaFillimit}}

                        <!--<div class="btn-group">-->
                            <!--<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="cellIsOpen = false">Year</label>-->
                            <!--<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="cellIsOpen = false">Month</label>-->
                            <!--<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="cellIsOpen = false">Week</label>-->
                            <!--<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="cellIsOpen = false">Day</label>-->
                        <!--</div>-->
                        <!--<mwl-calendar-->
                                <!--view="calendarView"-->
                                <!--view-date="viewDate"-->
                                <!--events="events"-->
                                <!--view-title="calendarTitle"-->
                                <!--on-event-click="eventClicked(calendarEvent)"-->
                                <!--on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"-->
                                <!--cell-is-open="true">-->
                        <!--</mwl-calendar>-->

                    </div>
                    <div class="card-footer">
                      <!--<button type="submit" class="btn btn-sm btn-primary" id="regjistroButton" ng-click="submitPacientiForm()"><i class="fa fa-dot-circle-o"></i> Regjistro</button>-->
                      <!--<button type="reset" class="btn btn-sm btn-danger" ng-click="resetForm()"><i class="fa fa-ban"></i> Pastro</button>-->
                    </div>
                  </div>
                  
                </div>
                
                <!--/.col-->
              </div>
</div>